script.
 function moveToHome() {
  window.location.href = '/home'
 }
 function moveToLibrary() {
  window.location.href = '/library'
 }
 function moveToAddBook() {
  window.location.href = '/add_book'
 }